.login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card {
    width: 40vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    margin-top: 15%;
}
.login-head {
    text-align: center;
    position: relative;
    top: 15vh;
    color: crimson;
}

.main-menu {
    text-align: center;
    position: relative;
}

.main-menu-welcome {
    top: 10vh;
    color:crimson;
    text-emphasis-color: red;
}

.main-menu-create-button {
    text-align: center;
    position: relative;
    margin-top: 25%;
}

.main-menu-logout-button {
    text-align: center;
    position: relative;
    margin-top: 50%;
}